 <!-- header  -->
<vv-header-container 
(onCreate)="handleCreate()"
(onSearch)="handleSearch($event)"></vv-header-container>
 <!-- body  -->
<ng-container *ngIf="filteredVehicles$ | async as vehicles">
    <ng-container *ngFor="let vehicle of vehicles">
        <vv-row
        [vehicle]="vehicle"
        ></vv-row> <br/>
    </ng-container>
</ng-container>

<vv-vehicle-form-modal
    [visible]="isModalVisible$ |async"
    (onCloseModal)="handleCancel()"
></vv-vehicle-form-modal>


<ng-template #modalFooter>
    <!-- <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" [disabled]="submitDisabled$ | async" (click)="handleSubmit()">Submit</button> -->
</ng-template>
