:host{
    .header-title {
        display: flex;
        float:left;
        width: 20%;
    }
    .header-search-container {
        display: flex;
        margin:auto;
        width: 100%;
        text-align: center;

    }
    .header-search-input {
        width: 20%;
        text-align: center;
        margin:10px 10% 10px 40%;

    }
    .header-create-button {
        display: flex;
        // float: right;
        margin-left: auto;
        // width: 20%;
        text-align: right;
        margin-top: 10px;
        margin-right: 10px;
    }
}