<div class="vehicle-row-container">
    <div 
    *ngIf="vehicle" 
    class="row"
    nz-row
    >
        <span nz-col nzSpan="2" class="cell">
            <button nz-button nztype="primary" (click)="onEditVehicle()"> Edit</button>
        </span>
        <span nz-col nzSpan="2" class="cell">
            <img class="row-image" src="{{vehicle?.picture}}"/>
        </span>

        <span *ngFor="let key of vehicleProperties" nz-col nzSpan="2" class="cell">
            <ng-container *ngIf="vehicle[key]">{{ vehicle[key] }}</ng-container>
        </span>
    </div>
</div>




