.modal-footer {
    margin-top: auto; /* Empuja los botones hacia abajo */
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 10px; /* Espaciado entre botones */
  }